body {
    text-align: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
    font-family: 'Roboto', sans-serif;
    color: rgb(66, 69, 86);
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1513002749550-c59d786b8e6c?q=80&w=687&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    font-weight: 100;
}

.flex-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

h1 {
    margin: 0;
    font-size: 12rem;
    line-height: 400px;
    font-weight: 100;
}

p {
    margin: 0;
    font-size: 2.5rem;
}

.form {
    line-height: 1.5;
    border: none;
    border-bottom: 3px solid #ebebeb;
    margin-top: 100px;
    width: 700px;
    font-size: 2.9em;
    color: white;
    padding: 5px 10px;
    background: transparent;
}

button {
    line-height: 2.0;
    border: none;
    border: 3px solid white;
    font-size: 1.9em;
    color: rgb(66, 69, 86);
    padding: 5px 30px;
    background: rgba(255, 255, 255, 1.0);
    border-radius: 5px;
    opacity: 0.8;
}

::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: rgba(255, 255, 255, 0.8);
}

input[type=text]:focus {
    outline: none;
}

button:hover {
    opacity: 1;
}
